<footer id="footer">

  <div class="wrapper footer__container">
    <div class="footer__links">
      <ul class="footer__list">
        <li class="footer__list__links">Articles</li>
        <li class="footer__list__links">Books</li>
        <li class="footer__list__links">Events</li>
        <li class="footer__list__links">Reasons</li>
        <li class="footer__list__links">Tips</li>
      </ul>
    </div>

    <div class="footer__rrss">
      <ul class="footer__list">
        <li class="footer__list__rrss">Twitter</li>
        <li class="footer__list__rrss">Instagram</li>
        <li class="footer__list__rrss">Mastodon.Social</li>
      </ul>
    </div>

    <div class="footer__copy-love">
      <ul class="footer__list">
        <li class="copy">&copy; 2017</li>
        <li class="we">we <span class="heart">❤</span>  components</li>
      </ul>
    </div>
  </div>
</footer>
