<footer class="footer">
  <div class="footer__links">
    <ul class="footer__links__list">
      <li class="footer__links__list--items">Articles</li>
      <li class="footer__links__list--items">Books</li>
      <li class="footer__links__list--items">Events</li>
      <li class="footer__links__list--items">Reasons</li>
      <li class="footer__links__list--items">Tips</li>
    </ul>
  </div>

  <div class="footer__rrss">
    <ul class="footer__rrss__list">
      <li class="footer__rrss__list--items">Twitter</li>
      <li class="footer__rrss__list--items">Instagram</li>
      <li class="footer__rrss__list--items">Mastodon.Social</li>
    </ul>
  </div>

  <div class="footer__copy-love">
    <ul class="footer__copy-love--list">
      <li class="copy">&copy; 2017</li>
      <li class="copy">We :love: components</li>
    </ul>
  </div>
</footer>
