<header class="hero">
  <div class="wrapper">
    <div class="nav">
      <a href="">
      <img src="assets/images/ico-menu.svg" alt="Menu button" /></a>
    </div>
    <div class="header__text">
      <h1 class="title">Anonymous proxy</h1>
      <p class="subtitle">In hac habitasse platea dictumst</p>
      <div class="button">
        <a href="#footer" class="button__scroll-down">
          <img
            src="assets/images/ico-scroll-down.svg"
            alt="Button scroll down"
          />
        </a>
      </div>
    </div>
  </div>
</header>
