<main id="section">
  <div class="wrapper">
    <div class="main">
    <div class="main__container__first">
      <div class="main__container__first-link">
        <a class="link-tips" href="">Insomnia tips</a>
      </div>
      <h2 class="title2">Looking through a window</h2>
      <p class="main__container__first__text">
        Donec accumsan, nulla ut volutpat porttitor, quam odio tempus felis, at
        luctus ex diam nec lectus. Vivamus semper sodales rutrum.
      </p>
      <div class="main__container__first__button">
        <button class="button-go">Go</button>
      </div>
    </div>

    <div class="main__container__second">
      <h2 class="title3">3 reasons to purchase</h2>
      <div class="main__container__second__grid">
        <div class="grid__first">
          <h3>Ut sed metus</h3>
          <p class="text">Lorem ipsum dolor sit amet, consecteur.</p>
        </div>
        <div class="grid__second">
          <h3>Curabitus ac erat</h3>
          <p class="text">Mauris mattis urna quis lorem molestie</p>
        </div>
        <div class="grid__third">
          <h3>Morbi dictum</h3>
          <p class="text">Aliquam in dolor et dolor tincidunt.</p>
        </div>
      </div>
      <div class="main__container__second__button">
        <button class="button-reasons">
          More reasons
        </button>
      </div>
      <div class="button__scroll-up">

      <a href=""><img src="assets/images/ico-arrow.svg" alt="Button scroll up" />
      </a>
    </div>
    </div>
  </div>
  </div>
</main>
