<!DOCTYPE html>
<html lang="es">
<head>
  <meta charset="UTF-8">
  <meta name="viewport" content="width=device-width, initial-scale=1.0">
  <meta http-equiv="X-UA-Compatible" content="ie=edge">
  <title>Ari Evaluaciòn final</title>
  <link rel="stylesheet" href="assets/css/main.css">
</head>
<body>
  <partial src="_header.html"></partial>

  <!-- <header class="hero">
    <div class="nav">
      <img src="assets/images/ico-menu.svg" alt="Menu button">
    </div>
    <div class="image">
      //vacio?
    </div>
    <div class="header__text">
    <h1 class="title">Anonimous proxy</h1>
    <p class="subtitle">In hac habitasse platea dictumst </p>
  </div>
  <div class="button__scroll-down">
    <img src="assets/images/ico-scroll-down.svg" alt="Button scroll down">
  </div>
  </header> -->

</body>
</html>