.main {
  display: flex;
  flex-direction: column;
  line-height: 30px;
  font-family: $font-family;
  @media all and (min-width: 1200px) {
   
  }
}

.main__container__first-link {
  margin-top: 30px;
  margin-bottom: 0;
  padding-bottom: 0px;
  font-size: 14px;
  height: 30px;
  @media all and (min-width: 1200px) {
    margin-top: 73px;
  }
}

.link-tips {
  text-decoration: none;
  color: $colorlightblue;
}

.title2 {
  margin-top: 1px;
  font-size: 24px;
  text-transform: capitalize;
  margin-bottom: 15px;
  @media all and (min-width: 768px) {
    font-size: 26px;
    line-height: 45px;
    margin-bottom: 30px;
  }
  @media all and (min-width: 1200px) {
    font-size: 32px;
  }
}

.main__container__first__text {
  font-size: $xl;
  margin-bottom: 30px;
  color: #4a4a4a;
  @media all and (min-width: 768px) {
    font-size: 20px;
    font-weight: normal;
    line-height: 30px;
  }
}

.main__container__first__button {
  display: flex;
  align-items: center;
  margin-bottom: 45px;
  @media all and (min-width: 768px) {
    margin-bottom: 60px;
  }
 
}
.button-go {
  width: 76px;
  font-family: $font-family;
  border-radius: 50px;
  border: solid $colorOrange 2px;
  background: white;
  color: $colorOrange;
  font-size: $xxl;
  font-weight: bold;
  line-height: 45px;
  cursor: pointer;
  &:hover {
    background: $colorOrange;
    color: white;
  }
  @media all and (min-width: 768px) {
    width: 91px;
  }
  @media all and (min-width: 1200px) {
    width: 160px;
    
  }
}

.main__container__second {
  background: #eff9ff;
  font-size: $xl;
    text-align: center;
    position: relative; 
    z-index: 1;
    
  }
  //mejorar luego los numeros negativos
.wrapper .main__container__second {
  margin-right: -15px;
  margin-left: -15px;
  @media all and (min-width: 768px) {
    margin-right: -37px;
  margin-left: -37px;
  @media all and (min-width: 1200px) {
    margin-right: -85px;
  margin-left: -85px;
  }
  }
}

.title3 {
  margin-top: 30px;
  margin-bottom: 45px;
  text-align: center;
  font-weight: bold;
  font-size: 24px;
  @media all and (min-width: 768px) {
    font-size: 26px;
    line-height: 45px;
  }
  @media all and (min-width: 1200px) {
    font-size: 32px;
    margin-top: 60px;
  }
}

h3 {
  font-weight: bold;
  margin-bottom: 0;
}

.text {
  margin-top: 0;
  padding-right: 55px;
  padding-left: 55px;
  @media all and (min-width: 768px) {
    margin-top:14px;
  }
}

.button-reasons {
  width: 184px;
  font-family: $font-family;
  line-height: 45px;
  background: $colorOrange;
  border-radius: 50px;
  font-size: $xxl;
  color: $colorWhite;
  text-align: center;
  border: none;
  margin-top: 45px;
  margin-bottom: 60px;
  cursor: pointer;
  &:hover {
    background: white;
    color: $colorOrange;
  }
  @media all and (min-width: 768px) {
    margin-top: 60px;
    margin-bottom: 38px
  }
  @media all and (min-width: 1200px) {
    width: 255px;
    margin-bottom: 60px;
  }
}

.button__scroll-up {
  width: 45px;
  height: 45px;
  background: $colorWhite;
  border-radius: 50px;
  display: flex;
  justify-content: center;
  align-items: center;
  position: absolute;
  bottom: -25px;
  left: 50%;
  transform: translateX(-50%);
  &:hover {
    background: $colorOrange;
    
  }

}

@media all and (min-width: 768px) {
  .main__container__second__grid {
    display: grid;
    grid-template-columns: 1fr 1fr 1fr; 
    grid-template-rows: 1fr;
  }
}

@media all and (min-width: 1200px) {
  .main__container__first {
    padding-left: 235px;
    padding-right: 235px;
  }
  .main__container__second {
    padding-left: 85px;
    padding-right: 85px;
  }
}